@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /*Primary Colors*/
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    /*Neutral */
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    /*Font-Weights*/
    --thin-weight: 500;
    --medium-weight: 700;
    --bold-weight: 900;

}

body {
    font-size: 16px;
    background-color: var(--paleBlue);
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
}

#bord {
    /*Size & postion of bord*/
    width: 450px;
    height: 695px;
    background-color: white;
    position: absolute;
    /*Center the bord*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    border-radius: 5%;
    text-align: center;

}

#bord > img {
    /*Size & color of img */
    width: 450px;
    height: calc((1/3) * 695px);
    background-color: var(--brightBlue);
}

#label {
    /*size of color of label*/
    width: 20rem;
    height: auto;
    background-color: var(--veryPaleBlue);
    /*center label*/
    margin-left: auto;
    margin-right: auto;
    /*design label*/
    border-radius: 10%;
    display: flex;
    padding:  1rem 0 ;
    margin-bottom: 1rem;
}

button {
    /*size*/
    width: 20rem;
    padding: 1rem;
    /*design button*/
    text-decoration: none;
    border-radius: 1em;
    color: white;
    background-color: var(--brightBlue);
    box-shadow: .5rem .6rem .6rem var(--paleBlue);
    font-weight: var(--bold-weight);
}


.text {
    color: var(--desaturedBlue);
}