@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /*Primary Colors*/
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    /*Neutral */
    --veryPaleBlue: hsl(225, 100%, 98%);
    --desaturedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);

    /*Font-Weights*/
    --thin-weight: 500;
    --medium-weight: 700;
    --bold-weight: 900;

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;

}