@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/*primary colors */
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);

$veryPaleBlue: hsl(225, 100%, 98%);
$esaturedBlue: hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

.wrapper--card {
  height: 100%;
  background-color: $paleBlue;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    max-width: 25rem;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    border-radius: 15px;

    &__cover {
      img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
       
      }
    }

    &__content {
      width: 80%;
      margin: 0 auto;
    

      &__label {
        display: flex;
        justify-content: space-around;
        background-color: $veryPaleBlue;
        align-items: center;
        padding: 1.5rem 0;
        border-radius: 10px;
      

        &__wrapper {
          display: flex;
        
        
          img {
            margin-right: 1rem;
          }

          &__start {
            justify-content: space-between;
           

            &__head{
              margin-bottom: .3rem;
              font-weight: 700;
              
            
            }
          }
        }
      }
      &__btn {
        background-color: $brightBlue;
        padding: .8rem 0;
        margin-top: 2rem;
        border-radius: 10px;
        box-shadow: .5rem .6rem .6rem $paleBlue;

        button {
          background-color: $brightBlue;
          color: #fff;
          border: none;
          cursor: pointer;
          font-weight: bold;
          font-size: .9rem;
        }
      }
      .endtext {
        font-weight: 700;
        padding-bottom: 2rem ;
  
      }
    }
  }
}

.txt {
  color: $esaturedBlue;
}
